# ==========================================================
# Copyright (c) 2026 ArtistBots
# All Rights Reserved.
#
# Project      : yuviBots API Telegram Music Bot
# Powered By   : yuvi 
# Type         : API Based Telegram Music Bot
#
# Bot          : @lovellymusicbot
# Channel      : https://t.me/+xHz3OmQTHSI0Mzk1
# Group       : https://t.me/+IAmUQZd310w4ZWQ1
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
ARTISTBOTS_API_URL=
ARTISTBOTS_KEY=
